:root {
  --clr-primary: 204 43% 93%;
  --clr-secondary: 218, 22%, 67%;
  --clr-accent: 71 73% 54%;
  --clr-heading: 179 62% 43%;

  --ff-karla: "Karla", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-karla);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
